name: action

on:
  [ pull_request_target ]

env:
   cache-build-name: build-env

jobs:
  
  prep:
    runs-on: self-hosted
    steps:
      - name: Git clone 
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: resources
      - name: Prep
        run: |
            ls -la;
            mkdir build-env;
            mv resources/"1. Verilog. Adder"/* build-env/;
            cp -Rr ~/mpsis/tb/miriscv_alu.v build-env/;
            ls -la 
            cd build-env
            ls -la
      - name: Build
        run: |
            cd build-env;
            mv miriscv_tb/tb/tb_miriscv_alu.v /tmp;
            mv v
  test1:      
      needs: [prep]
      runs-on: self-hosted
      steps: 
      - name: Set current time 
        run: echo "curr_time=$(date +'%H-%M-%S_')" >> $GITHUB_ENV;      
      - name: Fetch from cache
        uses: actions/cache@v2
        with:
          path: ./build-env
          key: ${{ runner.os }}-${{ github.repository }}-${{ env.cache-build-name }}
      - name: Build
        run: | 
          rm -rf log;
          mkdir log;
          touch log/file_${{ github.job }};
      - name: Send_Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.curr_time }}_hackathon_log__${{ github.job }}
          path: ./log/file*
          retention-days: 1
